<div class="flex flex-column">
  <span class="text-lg mb-4">Login</span>
  <mat-form-field>
    <mat-label>Usuario</mat-label>
    <input type="text" matInput placeholder="Nombre de Usuario / Correo electronico" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input type="text" matInput placeholder="Contraseña" />
  </mat-form-field>
  <button mat-button mat-flat-button color="primary"
    (click)="onLogin()">

    Ingresar
    <mat-icon>login</mat-icon>
  </button>

  <div class="flex justify-content-end mt-5">
    <mat-icon>chevron_right</mat-icon>

    <a routerLink="/auth/new-account">Crear una cuenta</a>
  </div>
</div>
